:root {
  /** 主题颜色 */

  
  --vp-c-brand-1: #28D1E4;
  --vp-c-brand-2: #3ccaf5;
  --vp-c-brand-3: #8cccd5;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
 

  /** 背景颜色 */

  
  --vp-c-bg: #FFFEF8;
  --vp-c-bg-alt: #F5FFFF;
  --vp-c-bg-elv: #fff;
  --vp-c-bg-soft: #f6f6f7;
 

  /** 文本颜色 */

  
  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgba(60, 60, 67, 0.78);
  --vp-c-text-3: rgba(60, 60, 67, 0.56);
 
}

/** 深色模式 */
[data-theme="dark"] {
  
  --vp-c-brand-1: #87CEFA;
  --vp-c-brand-2: #78beed;
  --vp-c-brand-3: #5086a1;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
 

  
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
 

  
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);
 
}

.beian-links {
  display: flex;          /* 启用 Flex 布局 */
  align-items: center;    /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  gap: 8px;               /* 元素间距 */
}

/* 修复图标与文字对齐问题 */
.beian-links a {
  display: flex;          /* 让链接内部也使用 Flex 布局 */
  align-items: center;    /* 图标和文字垂直居中 */
  justify-content: center; /* 水平居中 */
  gap: 4px;               /* 图标与文字间距 */
}

/* .vp-home-hero.full {
  display: flex; 
  height: 500px !important;
} */

/* 向下箭头样式 */
.scroll-down-arrow {
  pointer-events: none; /* 禁用鼠标事件 */
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 100;
  animation: arrowJump 1.5s infinite;
}

.arrow-icon {
  width: 30px;
  height: 30px;
  border: 2px solid currentColor;
  border-width: 0 2px 2px 0;
}

@keyframes arrowJump {
  0%, 100% { transform: translateY(0) rotate(45deg); }
  50% { transform: translateY(10px) rotate(45deg); }
}

.vp-home-box.vp-home-text-image {
  background-color: #F5FFFF;
}